.grid-container{
    display: grid; 
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item{
    display: grid;
    grid-template-areas: 
    "a a"
    "a a" 
    "b b"
    "b b";
}
.grid-item figure{
    align-self: start;
    grid-area: a;
}

.grid-item figcaption{
    grid-area: b;
    margin: 0;
    align-self: end;
}

.grid-item figcaption a button{
    margin-right: 5px;
}




