/* CORALES, Dion Mark N. | BSIT-2C */
*{
    box-sizing: border-box;
    margin: auto 0;
    font-family: Arial;
}

body{
    background-color: gray;
}

header{
    background-image: url("../images/banner.jpg");
    color: white;
    display: block;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding: 50px;
}

nav{
    float: left;
    display: block;
    background-color: gray;
    width: 20%;
    height: 100%;
    padding: 15px;
}

section{
    float: right;
    width: 80%;
    display: block;
    padding: 15px;
    background-color: black;
    color: white;
}

article figure{
    display: inline-block;
}

figure img{
    width: 100%;
}

footer{
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: white;
}