/* CORALES, Dion Mark N. | BSIT-2C */
*{
    box-sizing: border-box;
    margin: auto 0;
    font-family: Tahoma;
}

body{
    background-color: #a5d94c;
}

header{
    background-image: url("../images/banner.jpg");
    color: white;
    display: block;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding: 50px;
}

nav a{
    text-decoration: none;
}

nav{
    float: left;
    display: block;
    background-color: #a5d94c;
    width: 20%;
    height: 100%;
    padding: 20px;
    color: #883B87;
}

.navitems a{
    text-decoration: none;
    font-size: 20px;
    color: #883B87;
}

.navitems li{
    padding: 15px;
}

.navitems li:hover{    
    color: #a5d94c;
    background-color: #883B87;
    border-radius: 15px;
}


nav ul{
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}

section{
    float: right;
    width: 80%;
    display: block;
    padding: 10px;
    background-color: #530382;
    color: white;
}

article{
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #a5d94c;
}

article figure{
    display: inline-block;

}

figure img, figure figcaption{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}

footer{
    display: inline-block;
    width: 100%;
    padding: 20px;
    background-color: #18181C;
    color: white;
}

figure{
    display: flex;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

figcaption button{
    background-color: black;
    padding: 10px;
    float: right;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
}

figcaption button:hover{
    background-color: purple;
    color: yellow;
    
}

tr td{
    padding: 20px;
    align-items: center;
    font-size: 13px;
}

